Repository JanCaha/cpp-simplerasters: changes, and which pre-commit hooks are due for each by the changed paths.
All: conda-version, style-cpp

conda-version:
  name: Update conda version
  entry: ./scripts/precommit/conda_version.sh
  language: script
  always_run: false

style-cpp:
  name: Style C++ code
  entry: ./scripts/precommit/clang_format.sh
  language: script
  always_run: false

test
  tests/testsettings.in.h
Due: none

update
  .pre-commit-config.yaml
Due: none

change style
  tests/testsettings.in.h
Due: none

update script
  scripts/precommit/clang_format.sh
Due: none

run only if cmakelists in
  scripts/precommit/conda_version.sh
Due: none

add build on macOS
  .github/workflows/conda_build.yaml
Due: none

change extension
  conda/test_script.sh
Due: none

arm
  .github/workflows/conda_build.yaml
Due: none

clang
  .github/workflows/conda_build.yaml
Due: none

clang on unix
  conda/variants/unix.yaml
Due: none

use clang
  scripts/install.sh
Due: none

try clang on windows
  .github/workflows/conda_build.yaml
Due: none

Revert "try clang on windows"
  .github/workflows/conda_build.yaml
Due: none

modernize cmake
  CMakeLists.txt
  conda/meta.yaml
  src/CMakeLists.txt
  tests/CMakeLists.txt
Due: conda-version, style-cpp

remove file
  clang-format.txt
Due: none

drop smart pointers where they do not belong
  src/singlebandraster.cpp
Due: style-cpp

check limits
  src/singlebandraster.cpp
Due: style-cpp

pass epsilon
  src/abstractraster.cpp
Due: style-cpp

clang format
  clang-format.txt
Due: none

use clang format from github
  .pre-commit-config.yaml
  scripts/precommit/clang_format.sh
Due: none

use temp
  tests/testprojectedsqurecellraster.cpp
Due: none

use epsilon
  src/singlebandraster.cpp
Due: style-cpp

use new constructor
  tests/testsinglebandraster.cpp
Due: none

voidptr
  src/api/simplerasters.h
  src/singlebandraster.cpp
Due: style-cpp

const
  src/abstractraster.cpp
  src/api/simplerasters.h
  src/projectedsquarecellraster.cpp
  src/singlebandraster.cpp
Due: style-cpp

update helpers
  src/helpers.cpp
Due: style-cpp

run just once
  src/abstractraster.cpp
Due: style-cpp

conda version update
  scripts/precommit/conda_version.sh
Due: none

use std::abs
  src/abstractraster.cpp
Due: style-cpp

use preset
  CMakePresets.json
  scripts/install.sh
  scripts/test.sh
Due: none

check that value is not close to zero
  src/abstractraster.cpp
Due: style-cpp

use std::abs
  src/helpers.cpp
Due: style-cpp

fix depracated call
  .github/workflows/conda_build.yaml
Due: none

remove
  scripts/test.sh
Due: none

update
  cmake/Config.cmake.in
Due: none

remove
  cmake/Packing.cmake
Due: none

do not build deb
  .github/workflows/create_deb_file.yaml
Due: none

drop packaging
  CMakeLists.txt
Due: conda-version

Path conditions:
  conda-version: any of: ^CMakeLists.txt
  style-cpp: any of: ^src/.*|^test/.*$
