Repository JanCaha/cpp-simplerasters: changes, and which pre-commit hooks are due for each by the changed paths.
All: conda-version, style-cpp

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: conda-version
        name: 'Update conda version'
        entry: './scripts/precommit/conda_version.sh'
        language: script
        files: ^CMakeLists.txt
        always_run: false
      
      - id: style-cpp
        name: 'Style C++ code'
        entry: './scripts/precommit/clang_format.sh'
        language: script
        files: ^src/.*|^test/.*$
        always_run: false

add helpers
  CMakeLists.txt
Due: conda-version

create release
  .github/workflows/create_releases.yaml
Due: none

drop debian
  debian/changelog
  debian/compat
  debian/control
  debian/copyright
  debian/rules
Due: none

drop deb
  CMakePresets.json
Due: none

update library
  src/CMakeLists.txt
Due: style-cpp

simplify testing
  .github/workflows/test_plugin.yaml
Due: none

update test building
  tests/CMakeLists.txt
Due: none

fix usage of functions to compare values
  src/abstractraster.cpp
  src/helpers.cpp
  src/helpers.h
  src/singlebandraster.cpp
Due: style-cpp

default values
  src/api/simplerasters.h
Due: style-cpp

install latest cmake
  .github/workflows/test_plugin.yaml
Due: none

update checkout
  .github/workflows/conda_build.yaml
Due: none

fix fetch
  .github/workflows/create_releases.yaml
Due: none

hash to avoid deploing where it does not work
  .github/workflows/create_releases.yaml
Due: none

fix file name
  tests/CMakeLists.txt
  tests/testprojectedsquarecellraster.cpp
Due: none

drop not necessary
  src/CMakeLists.txt
Due: style-cpp

remove, already in main
  src/CMakeLists.txt
Due: style-cpp

convert types to avoid issues
  src/abstractraster.cpp
Due: style-cpp

const function
  src/api/simplerasters.h
  src/singlebandraster.cpp
Due: style-cpp

guard potentially empty pointer
  src/singlebandraster.cpp
Due: style-cpp

return false if something is wrong
  src/singlebandraster.cpp
Due: style-cpp

use int
  src/helpers.cpp
Due: style-cpp

bump minor version
  CMakeLists.txt
  conda/meta.yaml
Due: conda-version

avoid string copying
  src/api/simplerasters.h
  src/projectedsquarecellraster.cpp
  src/singlebandraster.cpp
Due: style-cpp

fix gdal metadata type
  src/helpers.cpp
Due: style-cpp

bump version
  CMakeLists.txt
  conda/meta.yaml
Due: conda-version

fix compareValues for large values
  src/helpers.cpp
Due: style-cpp

default values and find out if noData is actually set
  src/api/simplerasters.h
  src/singlebandraster.cpp
Due: style-cpp

always have data as Float64, GDAL converts and we do not care
  src/api/simplerasters.h
  src/singlebandraster.cpp
Due: style-cpp

fix edge case finding NoData or value
  src/singlebandraster.cpp
Due: style-cpp

fix public library
  src/CMakeLists.txt
Due: style-cpp

add test cases and data
  tests/data/dsm_byte.tif
  tests/data/dsm_no_nodata.tif
  tests/testsettings.in.h
  tests/testsinglebandraster.cpp
Due: none

drop creating releases
  .github/workflows/create_releases.yaml
Due: none

rename workflow
  .github/workflows/test_library.yaml
Due: none

simplify registerGDAL
  src/abstractraster.cpp
  src/helpers.cpp
  src/helpers.h
Due: style-cpp

update split by
  src/helpers.cpp
  src/helpers.h
Due: style-cpp

use new function
  src/helpers.cpp
Due: style-cpp

copy operators
  src/api/simplerasters.h
  src/singlebandraster.cpp
Due: style-cpp

update
  src/CMakeLists.txt
Due: style-cpp

add test case
  tests/testsinglebandraster.cpp
Due: none

workflow with sanitizers
  .github/workflows/test_library.yaml
  CMakePresets.json
Due: none
